.container {
  padding:0;
  background-color: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 730px;
}

.row {
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
